.App {
  text-align: center;
}

* {
  align-self: center;
}

.App-logo {
  height: 300px;
  pointer-events: none;
  margin: 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main > div {
  margin-bottom: 10px;
}

button {
  margin: 10px;
}

.safety {
  font-style: italic;
  font-size: .75em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 400px;
  align-items: flex-start;
}

h2 {
  margin: 0px;
}
